@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.top{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.example-spacer {
    flex: 1 1 auto;
  }
  .add{
    background-color: navy;
 
  }

  .add-user{
    
 color:whitesmoke;
  

  }
  .detail-page{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color:#be5f5f;
    margin-left: 21px;
  }
  .mat-icon{
    font-size: 43px;
    height: 40px;
    color:#be5f5f;

  }